*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    box-sizing: border-box;
}
@font-face {
    font-family: helvetica;
    src: url(../fonts/HelveticaNeue\ Medium.ttf);
}
.back-home{
    position: absolute;
    top: 1em;
    left: 1em;
    display: flex;
    gap: 1em;
}
.back_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #347571;
    width: 60px;
    height: 30px;
    border-radius: 60px;
    padding: 2px;
    border: 1px solid;
    text-decoration: none;
}
.back_btn:hover{
    background-color: #347571;
    color: #FFF;
}
.home_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    padding: 3px;
    background: #347571;
    color: #FFF;
    font-size: clamp(0.9em,1vw,1em);
}
.home_btn:hover{
    background: #306662;
    color: #FFF;
}
.back_btn i{
    font-size: clamp(0.8em, 1vw, 1.2em);
}
.company-details-div{
    display: flex;
    justify-content: space-around;
    height: 230px;
    max-width: 100%;
    padding-top: 80px;
}
#company-logo{
    width: 200px;
    height: 130px;
}
.company-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.company-details h2{
    color: #4ba7a0;
}
#rating{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    padding-left: 5px;
}
.star-rating-boxes{
    width: auto;
    display: flex;
    gap: 3px;
}
.star-rating-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0866FF;
    color: #FFF;
    width: 50px;
    height: 45px;
    -webkit-transform: skew(-10deg);
}
.star-rating-box i{
    font-size: 25px;
}
.company-website{
    display: flex;
    color: #4ba7a0;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #4ba7a0;
}
.company-website:hover{
    transition: 1s;
    transition-delay: 100ms;
    position: relative;
    top: 3px;
    background: #347571;
}
.company-website p{
    color: #4ba7a0;
    margin-left: 20px;
}
.website{
    display: flex;
    margin-left: 20px;
}
.website p{
    text-decoration: none;
    font-weight: 700;
    color: #4ba7a0;
    margin: 0 100px 5px 10px;
}
#fa-arrow-right{
    padding-right: 15px;
}
.responsive-company-website{
    display: none;
}
.company-reviews-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #347571;
    border-top: 1px solid #dddcdc;
}
.review-div{
    background-color: #FFF;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 0 35px 20px 35px;
    border-radius: 100px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 3px solid #4ba7a0;

}
.customer-profile{
    display: flex;
    gap: 2%;
    padding: 30px 0 15px 0;
    border-bottom: 1px solid #dddcdc;
}
.customer-profile h5{
    font-size: clamp(2em,1vw,1em);
    padding-right: 10em;
    border-right: 1px solid;
}
.review-location-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.customer-review{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 1em;
}
#customer-review-amount{
    font-size: 14px;
}
#customer-location{
    font-size: 14px;
    display: flex;
    gap: 5px;
}
.small-star-rating-boxes{
    display: flex;
    gap: 3px;
}
.small-star-rating-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0866FF;
    color: #FFF;
    padding: 0.3em;
    height: 20px;
    width: 30px;
    -webkit-transform: skew(-10deg);
}
.small-star-rating-box i{
    font-size: 13px;
}
#duration{
    color: #000;
    font-style: italic;
    padding-left: 50%;
}
#customer-date-of-experience{
    font-size: clamp(0.9em,1vw,1em);
}
#customer-date-of-experience i{
    background-color: #347571;
    color: #FFF;
    padding: 4px;
    border-radius: 10px;
}
footer{
    background-color: #F4F1E2;
    color: #347571;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
footer img{
    width: 250px;
    height: 250px;
}
.footer-details-div1{
    display: flex;
    gap: 200px;
}
.footer-details1, .footer-details2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-details1 h4, .footer-details2 h4{
    font-size: clamp(1.2em,1vw,1em);
    color: #347571;
}
.footer-details1 a{
    text-decoration: none;
    color: #347571;
}
.footer-details2 a{
    text-decoration: none;
    color: #347571;
    width: 10px;
}
.footer-details1 a:hover{
    transition: 1s;
    transition-delay: 300ms;
    text-decoration: underline;
    color: #4ba7a0;
}
.fa-facebook:hover{
    color: #0866FF;
}
.fa-twitter:hover{
    color: #1EA1F1;
}
.fa-instagram:hover{
    color: #C1226B;
}
.fa-youtube:hover{
    color: #FF0000;
}
.fa-linkedin:hover{
    color: #0073B2;
}
.footer-details2 i{
    font-size: clamp(1.3em,1vw,1em);
}
.footer-details-div2{
    display: flex;
    gap: 80px;
    padding-top: 20px;
}
.footer-details-div2 a{
    margin-top: 20px;
    text-decoration: none;
    color: #347571;
}
.footer-details-div2 a:hover{
    transition: 1s;
    transition-delay: 300ms;
    text-decoration: underline;
    color: #4ba7a0;
}
.sub-footer{
    color: #347571;
    margin: 60px 0;
}
.sub-footer p{
    font-size: clamp(1em,1vw,1em);
}

/*-------------------------------------------------MOBILE RESPONSIVE-----------------------------------------*/

@media only screen and (max-width: 992px){
    .back_btn{
        width: 30px;
    }
    #company-logo{
        width: 150px;
        height: 100px;
    }
    .company-details h2{
        font-size: 20px;
    }
    #company-review-amount,
    #rating{
        font-size: clamp(0.9em,1vw,1em);
    }
    .star-rating-box{
        width: 30px;
        height: 30px;
    }
    .star-rating-box i{
        font-size: 15px;
    }
    .review-div{
        width: 50%;
    }
    .customer-profile h5{
        font-size: clamp(1.5em,1vw,1em);
    }
    .company-website{
        display: none;
    }
    .responsive-company-website{
        display: flex;
        align-items: center;
        color: #FFF;
        gap: 10px;
        width: auto;
        padding: 1em;
        text-decoration: none;
    }
    .responsive-company-website:hover{
        color: #4ba7a0;
    }
    .responsive-company-website img{
        width: 35px;
    }
    .review-div{
        width: 90%;
    }
    .customer-profile h5{
        padding-right: 1em;
    }
    .small-star-rating-boxes{
        padding: 0;
    }
    #duration{
        padding-left: 23%;
        font-size: clamp(0.9em,1vw,1em);
    }
    
    footer img{
        width: 200px;
        height: 200px;
    }
    .footer-details-div1{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .footer-details-div2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-details-div2 a{
        width: 40%;
    }
    .sub-footer{
        font-size: 15px;
    }
}