*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
}
.header1{
    display: flex;
    flex-direction: column;
}
.header1-details{
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    justify-content: space-between;
}
.header1-details img{
    width: 50px;
    height: 50px;
}
.search-div{
    display: flex;
    align-items: center;
    gap: 1em;
    height: fit-content;
    font-size: 8px;
    cursor: pointer;
}
.search-div:hover{
    color: #D38216;
}
.search-bar{
    display: none;
}
.open-search-bar{
    display: flex;
    align-items: center;
    gap: 0.5em;
    height: 2.5em;
    padding: 0 0.5em;
    border-top: 0.5px solid #cecece;
    transition: 1s;
    transition-delay: 500ms;
}
.open-search-bar input{
    width: 80%;
    font-size: 7px;
    font-style: italic;
    border: none;
    outline: none;
}
.open-search-bar button{
    width: 90px;
    height: 20px;
    border-radius: 2px;
    background-color: #D38216;
    color: #fff;
    font-size: 7px;
    border: none;
    cursor: pointer;
}
.open-search-bar button:hover{
    background-color: #aa6d1e;
}
.open-search-bar i{
    font-size: 10px;
    cursor: pointer;
}
.open-search-bar i:hover{
    color: #D38216;
}
.header2{
    background-color: #D38216;
    color: #fff;
    display: flex;
    padding-left: 1em;
    gap: 2em;
    font-size: 7px;
    height: 30px;
}
.header2 p{
    padding: 1.4em 0 0 0;
}
.header2 p:hover{
    border-bottom: 2px solid #fff;
}